.header-custom {
  border: none;
}

.site-nav-custom {
  position: static;
}

.nav-custom {
  width: 80%;
  float: right !important;
}

.nav-split {
  padding-left: 50px;
}

.dropdown-title-custom {
  text-align: right;
  padding-top: 34px;
  padding-right: 40px;
  color: red;
  font-size: xx-large;
}

.dropdown-custom {
  padding-top: 30px;
  font-size: xx-large;
  line-height: 90%;
}

.custom-custom {
  padding-left: 0 !important;
  max-width: 100vw;
}

.custom-content-custom {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.custom__item--text {
  align-items: flex-end;
}

.collection-custom {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100vw;
  padding: 0 50px;
  margin: 0;
  max-width: none;
}

.section-header-custom {
  padding: 0 50px;
}

.collection-desc-custom {
  text-align: left;
}

.price-custom {
  color: grey;
}

.promise-custom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 50px;
}

.section-header-custom {
  padding: 0 50px;
}

.list-custom {
  align-content: flex-start;
}

.categories-custom {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0 50px;
}

.custom__item-inner--link_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list--inline li {
  display: list-item;
}

.sub-menu {
  display: none;
  color: grey;
  h2 {
    &:hover {
      color: black;
    }
  }
}

.show {
  display: flex;
}
